# Segredos e Configurações Sensíveis
.env

# Pastas de Build e Executáveis (PyInstaller)
build/
dist/
*.spec

# Cache do Python
__pycache__/
*.pyc

# Ambiente Virtual (se houver na máquina)
venv/
.venv/
env/

# Configurações de IDEs (VS Code / PyCharm)
.vscode/
.idea/